body {
    text-align: center;
    background-color: lightcyan;
}

form {
    display: inline-block;
    margin: 325px;
    
}

input {

    border-radius: 0px;
    display:block;
    height: 30px;
    width: 200px;
    margin-bottom: 5px;
}

.button {
    background-color: white;
    border-style: solid;
    border-color: black;
    height: 30px;
    width: 208px;
    font-size: 15px;

}

.labelName {
    margin: 15px;
    font-weight: bold;
}

label {
    margin-right: 10px;
}