body {
    text-align: center;
    background-color: lightblue;
}

form {
    display: inline-block;
    margin: 325px;
    
}

input {

    border-radius: 10px;
}

.button {
    margin-left: 5px;
    background-color: Transparent;
    border-style: solid;
    border-color: black;

}

.labelName {
    margin: 15px;
    font-weight: bold;
}

label {
    margin-right: 10px;
}